<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout patter="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- name可以自定义，作用是在Loggers中AppenderRef中使用 -->
        <!-- fileName定义输出文件名称（当前文件） -->
        <!-- filePattern定义输出文件名称（文件满足条件后自动截断，生成历史文件） -->
        <RollingFile name="info"
                     fileName="/Users/tony/code/tmp/log/tonyirl-account-service/app-info.log"
                     filePattern="/Users/tony/code/tmp/log/tonyirl-account-service/app-info-%d{yyyy-MM-dd}.log">
            <LevelRangeFilter minLevel="trace" maxLevel="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout patten="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <!-- 文件截断的条件，具体参考文档 -->
            <Policies>
                <TimeBasedTriggeringPolicy interval="24"/>
            </Policies>
        </RollingFile>

        <!-- 同一来源的Appender可以定义多个 -->
        <RollingFile name="error"
                     fileName="/Users/tony/code/tmp/log/tonyirl-account-service/error.log"
                     filePattern="/Users/tony/code/tmp/log/tonyirl-account-service/error-%d{yyyy-MM-dd}.log">
            <!-- 可以通过该参数来设置获取日志的权限 -->
            <LevelRangeFilter minLevel="warn" maxLevel="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout patten="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="me.tony" level="trace">
            <AppenderRef ref="console"/>
            <AppenderRef ref="info"/>
            <AppenderRef ref="error"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="info"/>
            <AppenderRef ref="error"/>
        </Root>
    </Loggers>
</Configuration>